.mag-component-radio-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-radio-list.hidden {
        display: none; }
    .mag-component-radio-list > .body > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 32px;
        line-height: 32px; }
    .mag-component-radio-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-radio-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .mag-component-radio-list > .item .checkBoxWrapper >
div {
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border: 2px solid #888;
        background-color: #bbb;
        vertical-align: bottom;
        display: block; }
        .mag-component-radio-list > .item .checkBoxWrapper >
div.checked {
            background-color: orange; }
    .mag-component-radio-list.focus {
        outline: 1px dashed red; }
