.stb-component-checkbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 2px solid #888;
    background-color: #bbb;
    vertical-align: bottom; }
    .stb-component-checkbox.hidden {
        display: none; }
    .stb-component-checkbox.checked {
        background-color: orange; }

.stb-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .stb-component-list.hidden {
        display: none; }
    .stb-component-list > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 32px;
        line-height: 32px; }
        .stb-component-list > .item.mark {
            background-color: green;
            color: black; }
        .stb-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .stb-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .stb-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .stb-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .mag-component-list.hidden {
        display: none; }
    .mag-component-list > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 32px;
        line-height: 32px; }
        .mag-component-list > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox {
        display: block; }
        .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox:after {
            font-family: 'icons';
            display: block;
            content: 'W'; }
        .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox.checked:after {
            content: 'X'; }
