.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox {
        display: block; }
        .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox:after {
            font-family: 'icons';
            display: block;
            content: 'W'; }
        .mag-component-footer > .item .checkBoxWrapper > .stb-component-checkbox.checked:after {
            content: 'X'; }
