.mag-component-radio-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .mag-component-radio-list.hidden {
        display: none; }
    .mag-component-radio-list > .body > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 38.4px;
        line-height: 38.4px; }
        .mag-component-radio-list > .body > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-radio-list > .body > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-radio-list > .body > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-radio-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-radio-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .mag-component-radio-list > .item .checkBoxWrapper > .stb-component-checkbox {
        display: block; }
        .mag-component-radio-list > .item .checkBoxWrapper > .stb-component-checkbox:after {
            font-family: 'icons';
            display: block;
            content: 'W'; }
        .mag-component-radio-list > .item .checkBoxWrapper > .stb-component-checkbox.checked:after {
            content: 'X'; }
